*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html,body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    height: auto;
    font-size: 62.5%;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



body{
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



section.images button{
    border: none;
    position: relative;
    background: transparent;
    cursor: pointer;
    width: 6rem;
    height: 4.75rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1.5);
    transition: transform 0.25s ease-in-out;
}


.img-responsive{
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
}

section.images button:not(:first-child){
    transform: scale(2);
}

section.images button:hover{
    transform: scale(5);
}

section.images button.user-choice{
    transform: scale(5);
    border: 2px solid #ff0000;
    border-radius: 0.5rem;
}

section.images button.user-choice::after{
    content: 'your choice';
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

}

section.images button.computer-choice{
    transform: scale(5);
    border: 2px solid yellow;
}

section.images button.computer-choice::after{
    content: 'computer choice';
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    color: yellow;
    top: 0;
    left: 0;
}


section.results{
    margin-top: 1rem;
    font-size: 2rem;
}

.result-score {
    margin-left: .1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}


@media (max-width: 37.4375em) {
    html,body {
      font-size: 100%;
      font-weight: 400;
    }
    button{
        border: none;
        background: transparent;
        cursor: pointer;
        width: 2rem;
        height: .75rem;
        transform: scale(1.5);
        transition: all 0.25s ease-in-out;
    }
  }

button#start{
    padding:1.5rem 2rem;
    background: royalblue;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24),1px 1px 3px rgba(0, 0, 0, 0.12);
}